html, body { margin: 0; padding: 0; overflow: hidden; }

.ui-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.color-selector {
    position: absolute;
    bottom: 20px;
    left: 20px;
}